@import "tailwindcss";

body{
  background: radial-gradient(circle at 20% 20%, #1a2cff 0%, transparent 25%),
              radial-gradient(circle at 80% 30%, #7b2cff 0%, transparent 25%),
              radial-gradient(circle at 50% 80%, #00c2ff 0%, transparent 25%),
              #0b0f19;
  color:white;
  font-family: 'Inter', sans-serif;
}